.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

#App {
  text-align: left;
}

#AppLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  position:absolute;
  margin-top: 45px;
  margin-left: 0px;
}

#AppHeader {
  background-color: green;
  height: 200px;
  padding: 20px;
  color: white;
  margin-top: -18px;
  padding-bottom: 80px;
}
#appdescription{
  padding-top: 4%;
  text-align: center;
  color: green;
  font-weight: bolder;
  font-size: 155%
}
#roolettBackground {
  margin-top: 0px;
  margin-left: -20px;
  height: 180px;
}
#PRheader{
  margin-left: 400px;
  margin-top: -158px;
  Font-size: 170px;
}

#contentDiv{
  align-content: center
}

p h1 { 
  align-content: center;
  text-align:center;

}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
